@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@100&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #132235;
    font-family: 'Raleway', sans-serif;
}


.menu{
    display: flex;
    justify-content: center;
    text-align: center;
}

li{
    display: inline;
    padding: 10px;
    color: white;
}

li:hover{
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    display: inline;
}

.menu>div:hover{
    background-color: black;
}


.banner{
    width: 80vw;
    height: 60vh;
    margin: auto;
    object-fit: cover;
    margin-top: 50px;
    margin-bottom: 10px;
    background-image: url(./img/banner.jpg);
    background-size: 100% 100%;
    animation: banner 5s infinite;
}



@keyframes banner{
    0%, 30%{
        background-image: url(/img/banner.jpg);
    }
    35%, 65%{
        background-image: url(./img/banner2.jpg)
    }
}


.tex-area{
    color: white;
    width: 500px;
    text-align: center;
    margin-bottom: 5vw;
    margin: auto;
    margin-top: 5vw;
}

.quemsomos{
    text-align: center;
    color: white;
    margin-top: 5vw;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 5vw;
}

.icon1, .icon2{
    display: flex;
    justify-content: center;
}

/* media query - carol */

/* celulares */
@media screen and (min-device-width: 320px) and (max-device-width: 420px){

    body{
        font-size: 10px;
    }

    .banner{
        width: 97.5vw;
        height: 50vh;
        margin: auto;
        object-fit: cover;
        display: flex;
        justify-content: center;
        background-image: url(./img/banner.jpg);
    }

    .tex-area{
        width: 100%;
    }

    .menu{
        width: 100%;
    }

    section > img{
        width: 50vw;
    }

    footer{
        width: 100%;
    }

    .icon1, .icon2, .icon3{
        display: flex;
        justify-content: center;
    }
}


/* tablets */

@media screen and (min-device-width: 421px) and (max-device-width: 800px){

    .banner{
        margin: auto;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .tex-area{
        width: 100%;
    }
   
}

/* computadores */

@media screen and (min-device-width: 1200px){
    

}

/*>>> CSS JESSICA <<<*/

/*>>> PÁGINAS: FORMULÁRIO E NOSSO TIME <<<*/

/*>>PAGINA DE FORMULARIO<<*/


.section-content > h1 {
    margin-bottom: 10px;
    text-align: center;
} 

.section-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #132235;
    height: 90%;
    width: 100vw;
    color: white;
    margin: auto;
}

h1 {
    margin: 100px;
}

.formulario {
    background-color: #66cdc8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 45vw;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 200px;
}

input {
    width: 40vw;
    margin: 25px;
    height: 4vh;
    font-size: 18px;
    border-radius: 10px;
}

.enviar {
    width: 10vw;
}

#botao {
    text-align: center
}

label {
    font-size: 23px;
    margin-left: 40px;
}


/*>>PAGINA NOSSO TIME<<*/

.time {
    background-color: #132235;
    color: white;
    align-items: flex-start;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 100px;
    margin-bottom: 200px;
}

.time > p {
    padding: 50px;
    margin: 30px;
    align-items: center;
    }



/* >PRIMEIRA IMAGEM< */

.img3 {
    border-radius: 10px;
    border-color: #66cdc8;
    width: 14vw;
    margin: 45px;
    height: auto;
}


/* >SEGUNDA IMAGEM< */

.img14 {
    float: right;
    width: 14vw;
    margin: 45px;
    height: auto;
    border-radius: 10px;
    border-radius: solid;
    border-color: #66cdc8;
}


/* >TERCEIRA IMAGEM< */

.img2 {
    border-radius: 10px;
    border-color: #66cdc8;
    width: 14vw;
    margin: 45px;
    height: auto;
}



/* media query - jess */

/* celulares */
@media screen and (max-device-width: 420px){

    h1 {
        margin-bottom: 50px;
        margin-top: 50px;
    }
   
    .time {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 0;
        padding: 0; 
    }

    
    .img3, .img14, .img2 {
        width: 50%;
        margin: 0;
        padding: 0;
        height: 35vh;        
    }

    .img14 {
    }

    .p1, .p2, .p3 {
        height: 80vh;

    }

    .section-content {
        margin: 0;
        padding-bottom: 30px;
    }

    .formulario {
        width: 90vw;
        margin: 0;
        padding: 0;
        margin-top: 40px;
    }


    input {
        margin: 10px 10px 10px 15px;
        padding: 0;
        width: 80vw;
        align-items: center;
    }

    #botao {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .enviar {
        width: 40vw;
    }




/* tablets */
/* 
@media screen and (min-device-width: 421px) and (max-device-width: 800px){

   
} */

/* computadores 

@media screen and (min-device-width: 1280px){
    

} */

